.content {
  background-color: rgb(202, 202, 206);
}
.container {
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.container ul {
  display: flex;
  flex-wrap: nowrap;
}

.container ul li{
  list-style-type: none;
}

.container ul li a{
  text-decoration: none;
  margin: auto 6px;
  color: white;
}

.right {
  margin: auto 0;
}

.right button {
  border: none;
  text-align: center;
  background-color: rgb(32, 77, 153);
  color: white;
}

.navbar {
  background-color: rgb(32, 77, 153);
}

/*Hiển thị sản phẩm đang quản lý*/
.sanPham {
  padding-top: 12%;
  margin: auto 20px;
  background-color: white;
}